// Variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #2e5e8d !default;

// Mixins
@mixin transition-all() {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

@mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin serif-font() {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

@mixin sans-serif-font() {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

// Global styling
body,
html {
    width: 100%;
    height: 100%;
}

body {
    @include serif-font;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: $primary;
}

hr.light {
    border-color: $white;
}

a {
    color: $primary;
    @include transition-all;

    &:hover {
        color: darken($primary, .1);
    }
}

.a2 {
    color: $black;

    &:hover {
        color: $gray-700;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

.bg-primary {
    background-color: $primary !important;
}

.bg-dark {
    background-color: $gray-900 !important;
}

.text-faded {
    color: fade-out($white, .3);
}

section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

::selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

img::selection {
    color: $white;
    background: transparent;
}

img::-moz-selection {
    color: $white;
    background: transparent;
}

// Styling for the navbar
#mainNav {
    border-bottom: 1px solid fade-out($gray-900, .9);
    background-color: $white;
    @include sans-serif-font;
    @include transition-all;

    .navbar-brand {
        font-weight: 700;
        text-transform: uppercase;
        color: $primary;
        @include sans-serif-font;

        &:focus,
        &:hover {
            color: darken($primary, .1);
        }
    }

    .navbar-nav {
        > li.nav-item {
            > a.nav-link,
            > a.nav-link:focus {
                font-size: .9rem;
                font-weight: 700;
                text-transform: uppercase;
                color: $gray-900;

                &:hover {
                    color: $primary;
                }

                &.active {
                    color: $primary !important;
                    background-color: transparent;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        border-color: transparent;
        background-color: transparent;

        .navbar-brand {
            color: fade-out($white, .3);

            &:focus,
            &:hover {
                color: $white;
            }
        }

        .navbar-nav > li.nav-item > a.nav-link {
            padding: 0.5rem 1rem;
        }

        .navbar-nav > li.nav-item > a.nav-link,
        .navbar-nav > li.nav-item > a.nav-link:focus {
            color: fade-out($white, .3);

            &:hover {
                color: $white;
            }
        }

        &.navbar-shrink {
            border-bottom: 1px solid fade-out($gray-900, .9);
            background-color: $white;

            .navbar-brand {
                color: $primary;

                &:focus,
                &:hover {
                    color: darken($primary, .1);
                }
            }

            .navbar-nav > li.nav-item > a.nav-link,
            .navbar-nav > li.nav-item > a.nav-link:focus {
                color: $gray-900;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

// Styling for the masthead
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url('../img/header.jpg');
    background-position: center center;
    @include background-cover;

    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-weight: 300;
    }

    @media (min-width: 768px) {
        p {
            font-size: 1.15rem;
        }
    }

    @media (min-width: 992px) {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;

        h1 {
            font-size: 3rem;
        }
    }

    @media (min-width: 1200px) {
        h1 {
            font-size: 4rem;
        }
    }
}

// Styling for the services section
.feature-box {
    max-width: 400px;
}

// Styling for the details section
.details-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;

    .details-box-caption {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        color: $white;
        background: fade-out($primary, .1);
        @include transition-all;

        .details-box-caption-content {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            text-align: center;

            .project-category,
            .project-name {
                padding: 0 15px;
                @include sans-serif-font;
            }

            .project-category {
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .project-name {
                font-size: 18px;
            }
        }
    }

    &:hover {
        .details-box-caption {
            opacity: 1;
        }
    }

    &:focus {
        outline: none;
    }

    @media (min-width: 768px) {
        .details-box-caption {
            .details-box-caption-content {
                .project-category {
                    font-size: 16px;
                }

                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

// Bootstrap overrides
.text-primary {
    color: $primary !important;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    @include sans-serif-font;
}

.btn2 {
    text-transform: uppercase;
    border: none;
    border-radius: 0 .25rem .25rem 0;
    @include sans-serif-font;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover,
    &:focus,
    &:active {
        color: $white;
        background-color: darken($primary, 5%) !important;
    }

    &:active,
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(240, 95, 64,.5) !important;
    }
}
